<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Name Generator</title>
  </head>
  <body>
    <div class="container">
      <% if (locals.randomName){%>
      <h1><%= randomName %></h1>
      <% } else{%>
      <h1>Random Name</h1>
      <% } %>
      <form action="/submit" method="post">
        <input
          type="submit"
          name="naber"
          value="submit"
        />
      </form>
    </div>
  </body>
</html>
