@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}


/* header */


header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: linear-gradient(rgba(0, 0, 0 , 0.4), rgba(0, 0, 0, 0.4)), url(images/Guitar-wallpaper-9396384.jpg) center/ cover no-repeat fixed;

}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.8rem;
    text-align: center;
}

.navbar-nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--Roboto);
    letter-spacing: 3px;
    font-weight: 500;
    display: inline-block;
    padding: 0.4rem 0.4rem;
    transition: all 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.5;
    color: rgb(212, 216, 0);
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: rgb(0, 0, 0);
}
.banner p{
    padding: 1.2rem 0 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    width: 100%;
    outline: 0;
    font-size: 1.1rem;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    outline: 0;
    cursor: pointer;
    border: none;
}