/* GENERAL SETTİNGS */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}
body {
    background: #fff;
    color: #3f3f3f;
    font: 14px / 28px arial;
    font-family: 'Raleway';
}

h1 {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.sectionHeader {
    background: #500d16;
    border-bottom: 6px solid #000;
    height: 60px;
    color:#fff;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sectionArea{
    padding: 80px 0;
    color: #500d16;
}

h3 {
    font-size: 16px;
    color: #500d16;
    transition: all .5s ease;
}

/* GRID SETTİNGS */

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.featuresBody .container{
    justify-content: space-between;
}
.col3{
    flex-grow: 1;
    width: 33.33%;
}

.engineBody .container{
    justify-content: space-between;  
}

.col2{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}


/* HOME SETTİNGS */

header .logo {
    margin-right: auto;
    height: 70px;
}

header .logo img{
    display: block;
    height: 70px;
}

.menu li {
    float: left;
    
}

.menu li a{
    padding: 21px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all .5s ease;
}

.menu li:hover a {
    background: #500d16;
    color: #fff;
}

#mainSlider{
    height: 500px;
    background: url('../img/mainHome.jpg') center center no-repeat;
    background-size: cover;
}

.slider {
    width: 100%;
    
}

#mainCaption {
    height: 500px;
    background: rgba(0,0,0, .5);
}

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.featuresTop{
    text-align: center;
}

.item {
    padding: 10px 20px ;
}

.zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.zoom img{
    display: block; 
    width: 100%;
    transition: all .5s ease;
}

.item .itemText {
    text-align: center;
    padding: 5px;
    border: 1px solid #500d16;
    font-size: 12px;
}

.item:hover .zoom img {
    transform: scale(1.25);
}

.item:hover h3 {
    color: #fff;
}

.item:hover .itemText{
    background: #500d16;
    color: #fff;
    transition: all .5s ease;
}

.btnDetails {
    color: #500d16;
    padding: 5px 10px; 
    text-decoration: none;
    border: 1px solid #500d16; 
}

.item:hover .btnDetails{
    color: #fff;
    border: 1px solid #fff;
    transition: all .5s ease;
}

.itemText p{
    margin-bottom: 10px;
}

#parallax {
    background: linear-gradient(
        rgba(0,0,0, .7),
        rgba(0,0,0,.7)
        ),
        url('../img/parallax.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
#parallax p {
    color: #fff;
}

.engineTop{
    text-align: center;
}

.engineContainer {
    position: relative;
    width: 100%;
}

.imageOver{
    display: block;
    width: 100%;
    height: auto
}

.engineOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80,13,22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.engineContainer:hover .engineOverlay {
    width: 100%;
}

.engineText {
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.engineOverlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(80,13,22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.engineContainer:hover .engineOverlay2 {
    width: 100%;
    left: 0;
}

footer{
    background: #500d16;
    text-align: center;
    
}

.footerItem {
    padding: 20px;
}

.footerItem img {
    height: 50px;
    opacity: .5;
}

footer h3{
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

footer .container{
    padding: 40px 0;
}

footer p {
    color: #95a5a6;
    line-height: 20px;
}

.footerLinks a{
    text-decoration: none;
    color: #95a5a6;
    letter-spacing: 2px;
    transition: .3 ease;
}

.footerLinks a:hover{
    color: #fff;
    text-decoration: underline;
}




